<div class="top">
    Summary
</div>

<div class="dates">
    Reservation:
    <div>
        {{
            this.group.checkin | date : 'short'
        }} - {{
            this.group.checkout | date : 'short'
        }}
    </div>
</div>

<div class="rooms">
    {{
        'bookingengine.75' | translate
    }}:
    <div *ngFor="let room of this.group.rooms">
        {{
            room.roomIndex
        }}. 
        {{
            getSelectedRoom(room).rentalObjectName 
        }}, 
        {{
            'bookingengine.76' | translate
        }}:
        {{ room.adults }} 
    </div>
</div>

<div class="total">
    <div>
        {{
            'bookingengine.77' | translate
        }}
    </div>
    <div>
        {{
            getTotal() | currency : this.dataService.currency
        }}
    </div>
</div>