
<div class="content" *ngIf="!this.waitingForPaymentTransfer" >
  
  <div>

    <app-company-information class="companyinfo" #companyInfo *ngIf="!this.companySelected"></app-company-information>
    <app-guest-infos #guestinfos></app-guest-infos>    

    <div *ngIf="!this.waitingForPaymentTransfer && this.hasTermsAndConditions" class="bedify-content-outer termsandconditions" >
      <div class="bedify-content-inner" >
        <div class="checkboxes">

          <mat-checkbox class="checkbox" [formControl]="this.termsAndCondtions">
            {{
              'bookingengine.57' | translate
            }}
          </mat-checkbox>
          <div class="terms_subinfo" (click)="this.showTermsAndConditions()">
            {{
              'bookingengine.58' | translate
            }}
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="!this.waitingForPaymentTransfer" class="menu" >
      

      <div class="nextbuttonarea" [class.errors]="!this.valid">
        <mat-radio-group aria-label="Select an option" [formControl]="this.paymentOptionType">

          <div class="summary" *ngIf="!this.valid">
            <i class="fa fa-warning"></i> {{ 'bookingengine.27' | translate }}
          </div>

          <div class="summary" *ngIf="!this.termsAndCondtions.value && this.hasTermsAndConditions">
            <i class="fa fa-warning"></i> {{ 'bookingengine.59' | translate }}
          </div>

          <div *ngIf="this.hasPayLater && !this.dataService.group.hotelCollect" class="next" [class.disabled]="!this.valid">
            <mat-radio-button value="payOnCheckin" [checked]="this.paymentOptionType.value == 'payOnCheckin'">
              {{ 'bookingengine.28' | translate }}
            </mat-radio-button>

            <div class="paymentdetails" *ngIf="this.paymentOptionType.value == 'payOnCheckin'">
              {{
                'bookingengine.67' | translate
              }}
            </div>
          </div>

          <div class="next" [class.disabled]="!this.valid" *ngIf="this.dataService.getGroup().hotelCollect">
            <mat-radio-button value="payWithHotelCollect" [checked]="this.paymentOptionType.value == 'payWithHotelCollect'">
              <span>
                {{ 'bookingengine.29' | translate }}
              </span>
            </mat-radio-button>
          </div>

          <div class="next" [class.disabled]="!this.valid" *ngIf="this.hasOnlinePaymentPaymentMethods">

            <mat-radio-button value="startPaymentDirectFalse" [checked]="this.paymentOptionType.value == 'startPaymentDirectFalse'">
                {{
                  'bookingengine.30' | translate : {
                    total : this.total | currency : this.dataService.currency
                  }
                }} 
            </mat-radio-button>
          </div>
          
          <div class="next" [class.disabled]="!this.valid" *ngIf="
            this.hasOnlinePaymentPaymentMethods 
            && !this.dataService.getGroup().hotelCollect 
            && this.dataService.getBookingEngineConfig()?.bookingEngine?.payPartial
            && this.dataService.getBookingEngineConfig()?.bookingEngine?.partialPaymentPercentage
            ">
            <mat-radio-button value="startPaymentDirectTrue">
                {{
                  'bookingengine.65' | translate : {
                    total : this.totalPartial | currency : this.dataService.currency,
                    percent : this.dataService.getBookingEngineConfig()?.bookingEngine?.partialPaymentPercentage
                  }
                }} 

            </mat-radio-button>
          </div>

          <div (click)="initPayment()" class="nextbutton" *ngIf="this.valid">
            {{
              'bookingengine.66' | translate
            }}
            <i class="fa fa-arrow-right"></i>
          </div>
        </mat-radio-group>
      </div>
    </div>
    
  </div>

</div>

<div class="content" *ngIf="this.waitingForPaymentTransfer">
  <div class="waitingforpayment">
    <i class="fa fa-spin fa-spinner"></i>
    <br/>
    {{
      'bookingengine.31' | translate
    }}
  </div>
</div>

