<div class="bedify-content-outer">
    <div class="bedify-content-inner success">
        <i class="fa-sharp fa-light fa-bed-pulse"></i>

        <div class="reason">
            <span>
                {{
                    'bookingengine.53' | translate
                }}
            </span>
        </div>

        <div class="reasondesc">
            {{
                'bookingengine.54' | translate : {
                    available : this.available
                }
            }}
        </div>
    </div>
</div>