<div class="bedify-content-outer">
    <div class="bedify-content-inner success">
        <div *ngIf="this.restrictionReasons.length > 0" class="subinfo">
            <i class="fa fa-warning"></i>
            <div *ngFor="let reason of this.restrictionReasons">
                <ng-container *ngIf="reason.indexOf('||') > -1">
                    {{
                        reason.split("||")[0] | translate : {
                            count : reason.split("||")[1]
                        }
                    }}
                </ng-container>
                
                <ng-container *ngIf="reason.indexOf('||') < 0">
                    {{
                        reason | translate
                    }}
                </ng-container>
            </div>
        </div>
        <br/>

        <i class="fa-sharp fa-light fa-bed-pulse"></i>

        <div class="reason">
            <span>
                {{
                    'bookingengine.53' | translate
                }}
            </span>
        </div>

        <div class="reasondesc">
            {{
                'bookingengine.54' | translate : {
                    available : this.available
                }
            }}
        </div>
    </div>
    

</div>