.failedpayment {
    font-size: 100px;
    color: red;
}

.paymentsuccess {
    font-size: 100px;
    color: #4CAF50;
}

.success,
.failure {
    text-align: center;
}

.reason {
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}

.reasondesc {
    font-size: 16px;
    color: #666;
}

.bedify-content-outer {
    margin-top: 20px;
}


.success i {
    color: red;
    font-size: 60px;
}

.subinfo {
    background: red;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 20px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 300px;
}

.subinfo i {
    color: #FFF;
}