.inner {
    margin: 0 auto;
    max-width: 308px;    
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.photo img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.hoteltitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.hoteladdress {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.description {
    font-size: 16px;
}

.bookingbuttons {
    text-align: center;
    padding: 20px;
}

.nextbutton {
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.not_available {
    text-align: center;
    background-color: red;
    color: #FFF;
    font-style: italic;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
}


.not_available .headline {
    font-size: 20px;
}

.not_available .subinfo {
    font-size: 13px;
}

.leftwarning {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF;
    padding: 3px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,0,0,0.8);
}
