.date {
    width: 160px;   
}

.bedify_header_selections {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guestsselection {
    position: relative;
    padding-right: 30px;
    
}

.guestsselection i {
    position: absolute;
    right: 10px;
    top: 23px;
}

.guestsselection {
    cursor: pointer;
    border-bottom: solid 1px #666;
    height: 35px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #FFF;
    border-radius: 5px 5px 0px 0px;
    min-height: 35px;
}

.bedify-header-inner {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.discountbutton {
    padding: 10px;
    margin-top: 18px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 37px;
    vertical-align: top;
    margin-top: 0px;
    border-radius: 5px;
}

.discountcodeactivated {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    flex: 0 0 100%;
    background-color: #00b100;
    color: #FFF;
    border-radius: 0px 0px 5px 5px;
}

.multilanguage {
    background-color: #FFF;
    
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}


@media (max-width:1100px) {
    .content div {
        flex: 1 1 100%;
    }    

    .bedify-header-inner {
        padding-bottom: 20px;
    }


    .guestsselection {
        //flex: 0 0 280px !important;
        margin-bottom: 20px;
    }
      
    .bedify_header_selections div {
        flex: 1 1 25%;
    }


    .tenantselections,
    .date {
        width: 100%;
    }

    .guestsselection {
        min-width: 230px;
    }
    
}