<mat-dialog-content>

    <div class="allcontent">
        <div *ngIf="!this.group.bookingCode || external">
            <mat-form-field class="example-full-width" *ngIf="!this.external">
                <mat-label>
                    {{
                        'bookingengine.16' | translate
                    }}
                </mat-label>
                <input matInput placeholder="" [(ngModel)]="this.code">
            </mat-form-field>
            <br/>

            <div *ngIf="this.bookingResponseCode" style="color: red; padding-bottom: 20px;">
                {{
                    this.bookingResponseCode | translate : this.bookingCodeResponseMetaData
                }}
            </div>

            <div *ngIf="this.codeRemoved" style="color: red; padding-bottom: 20px;">
                {{
                    'bookingengine.11' | translate
                }}
                <br/><br/>
                <button mat-flat-button [mat-dialog-close]>
                    {{
                        'bookingengine.12' | translate
                    }}
                </button>
            </div>
            
            <button mat-flat-button color="primary" style="width: 100%;" (click)="this.applyCode()" *ngIf="!this.external">
                {{
                    'bookingengine.13' | translate
                }}
            </button>
        </div>

        <div *ngIf="this.group.bookingCode && !external">
            {{
                'bookingengine.14' | translate
            }}

            <button mat-flat-button color="primary" style="width: 100%;" (click)="this.diconnect()">
                {{
                    'bookingengine.15' | translate
                }}
            </button>
        </div>
    </div>
</mat-dialog-content>