<div class="box">
    <div class="bedify_addon_title">
        {{
            this.optionalAddon.product.defaultName
        }}
    </div>

    <div class="bedify_addon_image">
        <img [src]="this.image"/>
    </div>

    <div [innerHTML]="this.optionalAddon.product.defaultDescription" class="extra"></div>

    <div class="bedify_addon_selector">
        
        <mat-slide-toggle (change)="this.selected($event)">
            {{
                'bookingengine.63' | translate
            }}: {{
                   this.optionalAddon.extraCost  | currency : this.dataService.currency
                }}
        </mat-slide-toggle>
    </div>
    
</div>
