.row {
    margin-bottom: 20px;
}

.multilanguage_outer .multilanguage {
    box-sizing: border-box;
    max-width: 350px;
    margin: 0 auto;
    text-align: right;

}

.inner {
    box-sizing: border-box;
    max-width: 350px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.category {
    font-size: 21px;
    color: #333;
    font-weight: 500;
    border-radius: 5px;
}

.dates {
    font-size: 12px;
    color: #666;
}

.no_room_info {
    background-color: #fcff90;
    padding: 20px;
    border-radius: 5px;
}

.no_room_info i {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

:host ::ng-deep .emphesize {
    font-weight: 500 !important;
    font-size: 22px !important;
    color: green;
}

.locks {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.lock {
    background-color: #EFEFEF;
    flex: 1 1 34%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.pulseopen {
    cursor: pointer;
    background-color: green;
    color: #FFF;
}

.usecode {
    font-size: 12px;
}

.taptoopen {
    font-size: 12px;
}

.boxclickinfo {
    color: blue;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.early_checkin {
    background-color: #fcff90;
    border-top: dashed 2px #333;
    padding: 20px;
}

.systemprovider {
    font-size: 12px;
    text-align: center;
    color: #666;
}