:host {
    display: block;
}

.roomloader i {
    font-size: 30px;
    display: block; 
}

.roomloader {
    font-size: 16px;
    text-align: center;
}

.bedify-dataloader {
    text-align: center;
    color: #666;
}

.bedify-dataloader i {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    color: #000;
}
